client/views/index.jade
doctype html
html
  head
    title(title="Test")
    meta(charset="utf-8")
    script(src="/vendors/js/angular.js")
    script(src="/vendors/js/angular-ui-router.js")
    script(src="/vendors/js/angular-animate.js")
    script(src="/vendors/js/angular-aria.js")
    script(src="/vendors/js/angular-material.js")
    script(src="/vendors/js/angular-messages.js")

    script(src="js/app.js")

    link(rel="stylesheet" href="less/styles.less" type="text/less")
    link(rel="stylesheet" href="/vendors/css/angular-material.css")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.js")


  base(href="/")
  body(ng-app="app" layout='column"')
    div(class="layout-column flex" ng-controller="TabController" id="main-container")
      md-tabs.md-stretch-tabs (md-selected="selectedIndex")
        md-tab(md-active="$state.is('screen1')")
          a(ui-sref="screen1") Screen 1
        md-tab(md-active="$state.is('screen2')")
          a(ui-sref="screen2") Screen 2

      div(class="layout-column flex" ui-view flex)

client/build/index.html
<!DOCTYPE html>
<html>
  <head>
    <title title="Test"></title>
    <meta charset="utf-8">
    <script src="/vendors/js/angular.js"></script>
    <script src="/vendors/js/angular-ui-router.js"></script>
    <script src="/vendors/js/angular-animate.js"></script>
    <script src="/vendors/js/angular-aria.js"></script>
    <script src="/vendors/js/angular-material.js"></script>
    <script src="/vendors/js/angular-messages.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="less/styles.less" type="text/less">
    <link rel="stylesheet" href="/vendors/css/angular-material.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.js"></script>
  </head>
  <base href="/">
  <body ng-app="app" layout="column&quot;">
    <div ng-controller="TabController" id="main-container" class="layout-column flex">
      <md-tabs class="md-stretch-tabs">(md-selected="selectedIndex")
        <md-tab md-active="$state.is('screen1')"><a ui-sref="screen1">Screen 1</a></md-tab>
        <md-tab md-active="$state.is('screen2')"><a ui-sref="screen2">Screen 2</a></md-tab>
      </md-tabs>
      <div ui-view flex class="layout-column flex"></div>
    </div>
  </body>
</html>
